* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background: #f8f8f8;
  box-sizing: border-box;
  margin: 5rem auto;
  max-width: 80rem; }
  @media screen and (max-width: 800px) {
    body {
      margin: auto; } }

.container {
  background: #fff;
  max-width: 80rem;
  min-width: 80rem;
  box-shadow: 0rem 0rem 2rem rgba(51, 51, 51, 0.1); }
  @media screen and (max-width: 800px) {
    .container {
      box-shadow: unset; } }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #999; }

.header__primary {
  color: #a8a8a8;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2.4rem;
  font-weight: 400;
  margin: 1rem 0; }

.header__secondary {
  font-size: 1.6rem;
  color: #000; }

.text {
  font-size: 1.3rem;
  text-align: justify;
  color: #333; }
  .text__link {
    text-decoration: none;
    color: #4b7da5;
    font-weight: bold; }

.list {
  font-size: 1.3rem;
  margin-left: 1.6rem; }
  .list__item {
    color: #000; }

.font-18 {
  font-size: 2.4rem;
  line-height: 2rem; }

.utility__color-primary {
  color: #234866; }

.utility__color-primary-bg {
  background: #234866; }

.utility__color-grey-bg {
  background: #999; }

.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  margin: 0.8rem 0.5rem; }

.description {
  display: flex;
  background: #f8f8f8;
  padding: 3rem 5rem; }
  .description__left {
    width: 50%; }
  .description__list {
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: #000; }
  .description__right {
    width: 50%;
    padding-left: 2rem; }

.detail {
  padding: 3rem 5rem;
  display: flex; }
  .detail__left {
    width: 50%;
    padding-right: 2rem; }
  .detail__right {
    width: 50%;
    padding-left: 2rem; }

.flex {
  display: flex;
  justify-content: space-between; }

.flex > * {
  flex: 3 1 auto; }

.right {
  text-align: right;
  min-width: 100px;
  margin: 0 0 0 1rem; }

.layout {
  display: flex;
  justify-content: space-between; }
  .layout__right {
    display: flex; }

.intro {
  padding: 5rem 5rem 2rem 5rem; }
  .intro__header-large {
    margin: 0;
    padding: 0;
    line-height: 4.8rem;
    font-size: 4.8rem;
    color: #234866;
    letter-spacing: 5px; }
  .intro__header-normal {
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    margin-top: 1rem; }
  .intro__header-username {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    color: #234866; }

.footer {
  padding: 3rem 10rem;
  justify-content: space-between;
  background: #f8f8f8; }
  .footer__item {
    display: block; }
  .footer__text {
    text-decoration: none;
    color: #000;
    vertical-align: middle; }
  .footer__icon {
    vertical-align: middle;
    height: 2rem;
    width: 2rem; }
