.flex {
    display: flex;
    justify-content: space-between;
}

.flex > * {
    flex: 3 1 auto;
}

.right {
    text-align: right;
    min-width: 100px;
    margin: 0 0 0 1rem;
}

.layout {
    display: flex;
    justify-content: space-between;


    &__right {
        display: flex;
    }
}