.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    &__logo {
        padding: 0 1.5rem;
        img {
            height: 4rem;
        }
    }
    &__menu {
        list-style: none;
        margin-top: 0.8rem;
        margin-right: 1.5rem;

        &-item {
            list-style-type: none;
            display: inline-block;
            margin-left: 5px;
            padding: 0.6rem 1.5rem;
        }
        &-link {
            color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}
.active {
    border-radius: 2rem;
    background: rgb(247, 76, 46);

    a {
        color: $color-white;
    }
}
