

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f8f8f8;
$color-grey-light-2: #eee;

$color-grey-dark: #999;
$color-grey-dark-3: #333;   

$color-primary: #234866;
$color-primary-light: #4b7da5;

$color-header: #a8a8a8;