body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
}

.header {

    &__primary {
        color: $color-header;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 2.4rem;
        font-weight: 400;
        margin: 1rem 0;
    }

    &__secondary {
        font-size: 1.6rem;
        color: $color-black;

    }
}

.text {
    font-size: 1.3rem;
    text-align: justify;
    color: $color-grey-dark-3;

    &__link {
        text-decoration: none;
        color: $color-primary-light;
        font-weight: bold;
    }
}

.list {
    font-size: 1.3rem;
    margin-left: 1.6rem;
    &__item {
        color: $color-black;
    }
}