.font-18 {
    font-size: 2.4rem;
    line-height: 2rem;
}

.utility {
    &__color {
        &-primary {
            color: $color-primary
        }
        &-primary {
            &-bg{
                background: $color-primary;
            }
        }
        &-grey {
            &-bg {
                background: $color-grey-dark;
            }
        }
    }
}

.circle {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    margin: 0.8rem 0.5rem;
}